.navBarContainer {
  background-color: beige;
  width: 100%;
  height: 100px;
  border-radius: 10px;
  display: flex;
  position: relative;
  border: 2px solid lightblue;
}

.innerNavBar {
  color: whitesmoke;
  /* justify-content: space-between; */
  display: flex;
  width: 98%;
  border-radius: 10px;
  height: 88%;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  background-color: whitesmoke;
  z-index: 1;
  margin: auto;
}
.navBarImage {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.profileNavImage {
  height: 50px;
  border-radius: 50%;
  border: 2px solid red;
}

.profileName,
.motto {
  line-height: 0.5;
  color: black;
}

.motto {
  font-size: 13px;
}


.home,
.profileWall,
.aboutMe  {

    text-decoration: none;
}

.links {

   gap: 30px;
}

.rightNavSide {

align-content: center;
margin-left: 100px;
}



.links {
  display: flex;
  gap: 30px;
}


